/*

        Creating a sprite from following images:
        
        app/assets/images/sprites/icons/fancy.png (16x16)
        app/assets/images/sprites/icons/weibo_s_16.png (16x16)

        Output files:
          app/assets/images/sprites/icons.png
          app/assets/stylesheets/sprites/icons.scss

        Output size:
          16x32


*/
.icons_fancy { width: 16px; height: 16px; background: url('sprites/icons.png') 0px 0px no-repeat; }
.icons_weibo_s_16 { width: 16px; height: 16px; background: url('sprites/icons.png') 0px -16px no-repeat; }
