%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th 概要
      %th 昨日新增用户数
      %th 昨日新增剧集数
      %th 昨日新增帖子数
      %th 昨日新增回复数
      %th 昨日新增资源数
  %tbody
    %tr
      %th 1
      %th 123123
      %th 123123
      %th 123123
      %th 123123
      %th 123123
