= form_tag cpanel_miscs_path do
  %p
    %input.span3{ :type => 'text', :placeholder => "输入名称", :name => "misc[title]" }
  %p
    %input.span3{ :type => 'text', :placeholder => "输入访问地址", :name => "misc[slug]" }       
  %p
    %select.span2{ :name => "misc[category]" }
      %option{ :value => "" } 选择类别
      %option{ :value => "pages" } 网站单页
      %option{ :value => "links" } 友情链接
  %p
    %textarea{ :style => "width:480px;height:220px;", :name => "misc[content]" }
  %p
    %input.btn.btn-primary{ :type => 'submit', :value => "保存" }  
