.footer.clearfix
  .about_us
    .navs
      %a 关于我们
      %a 联系我们
      %a{ :href => 'http://www.huanarle.com', :target => '_blank' } 我爱看美剧
    .copyright
      Copyright © www.wakmj.com
  .weibo_page
    %a{ :href => '#' }
      %i.icon.icons_weibo_s_16
      在微博关注我们
      
- if signed_in? && !current_user.has_role?('editor')
  .feedback_btn 申请成为维护者

- content_for :footer_script do
  = render 'shared/google_analytics'

