.footer.clearfix
  .thanks
    %a{ :href => 'http://www.ruby-china.org', :title => "部分代码来自 Ruby China 社区" }
      = image_tag "ruby_china.png", :width => '48'
  .about_us
    .navs
      - Misc.where(:category => "pages").each do |misc|
        %a{ :href => misc_path(misc.slug) }= misc.title
      - Misc.where(:category => "links").each do |misc|
        %a{ :href => misc.slug, :title => misc.content, :target => '_blank' }= misc.title        
    .copyright
      Copyright © www.wakmj.com
  .weibo_page
    %a{ :href => 'http://weibo.com/wakmj', :target => '_blank' }
      %i.icon.icons_weibo_s_16
      在微博关注我们
   

      
.feedback_btn.helpus 
  帮我们维护

- content_for :footer_script do
  = render 'shared/google_analytics'
