.navbar.clearfix
  .site_logo
    %a{ :href => '#' }
      %span
        = raw "我爱看<b>美剧</b>"

  .menu
    %ul
      %li
        %a.active{ :href => root_path } 首页        
      %li
        %a{ :href => '#' } 热门
      %li
        %a{ :href => '#' } 新剧
  .user_setting
    %ul
      %li
        %a{ :href => sign_up_path } 注册
      %li
        %a{ :href => sign_in_path } 登录
      %li.authlogin
        %a.active{ :href => '#' }
          %i.icon.icons_weibo_s_16
          用微博账号登录