
%p{ :style => 'font-size:14px;' } 
尊敬的用户您好：

%p{ :style => 'font-size:14px; margin-top: 10px;' }
  请点击下面的链接重新设置您的密码(如无法点击请粘贴到浏览器地址栏访问)：
  
%p
  %a{ :href => @link, :target => '_blank' }= @link  

%p
  祝您愉快！
  

%p{ :style => 'font-size:12px; margin-top: 100px; border-top: 1px solid #ccc; text-align:center; padding-top: 10px; bottom: 5px;' }
  你之所以收到这封邮件是因为你曾经注册了
  &nbsp;&nbsp;
  %a{ :href => 'http://www.wakmj.com', :target => '_blank' } 我爱看美剧 - 美剧迷社区
