.tv_detail.clearfix
  .above
    .tv_name
      《极限特工1-2》已上映 
    .intro.clearfix
      .cover
        %a{ :href => '#' }
          = image_tag 'sample.jpg'
      .summary
        .alias
          %span.title 又名:
          %span 3X反恐暴族 / 限制级特工 / 限制级战警
        .cates
          %span.title 类别:
          %span  动作 / 喜剧 / 剧情 
        .starring
          %span.title 主演:
          %span  黄又南 / 泰迪·罗宾 / 梁小龙 / 陈观泰 / 贾晓晨 / 欧阳靖 / 邵音音 / 陈惠敏 / 罗永昌 / 罗莽 
        .director
          %span.title 导演:
          %span  郭子健 / 郑思杰 
        .release_date
          %span.title 上映日期:
          %span 2010-06-04  
        .imdb
          %span.title IMDB:
          %span 9.8

        .fancy
          %i.icon.icons_fancy
          %a{ :href => '#' } 
            喜欢 
            %span (123123123)

  .story
    .title
      简介
    .content
      公司小职员梁景祥（黄又南 饰）为人懦弱，是个时常受气的角色。这日他为公司奔赴某村收地，不料路上被几个恶人暴打，幸有罗新门高徒林良淳（梁小龙 饰）出手相救。梁景祥感佩良淳，追索至罗记茶楼试图拜其为师。罗新门罗新师傅（泰迪罗宾 饰）三十年前名动武林，但因在一次比武中不幸中风昏迷至今，导致罗新门败落，只有首徒陈德成（陈观泰 饰）与林良淳二人勉力维系一门生计，昔日武馆也早已沦为茶楼。
      梁景祥的到来，激起了罗新门与庞青（陈慧敏 饰）一派的旧日恩怨；更因特殊身份卷入了罗新门与开发商的冲突。混乱中，昏迷的罗新师傅突然醒转，老师傅的第一个重要决定，便是参加由庞青主办的擂台比赛……

.tv_resources