- content_for :header_css do
  = stylesheet_link_tag 'sign'

.left_container
  .sign_in_panel.large_panel
    .panel_title.sign_in_panel_title
      找回密码
    .form_panel
      = form_tag forgot_password_path, :method => 'POST' do
        .blank_li.clearfix
          %span 注册邮箱:
          %input.white_text{ :type => 'text', :name => 'email' }
        .blank_li.clearfix
          %span &nbsp;
          %a.submit_btn.ml10{ :href => 'javascript:;' } 登录

.right_container
  .notices
    %p
      %a{ :href => sign_up_path } 注册新用户
    %p
      %a{ :href => sign_in_path } 已有账号登录
    %p
      %a{ :href => '/auth/weibo' } 
        = image_tag 'weibo240.png'      
    %p
      %a{ :href => '/auth/renren' } 
        = image_tag 'renren240.png' 
    


      

