- content_for :header_css do
  = stylesheet_link_tag 'index'

.left_container
  .tv_list
    - 12.times do
      .tv
        .above.clearfix
          .cover
            %a{ :href => '#' }
              = image_tag 'sample.jpg', :size => '100x150'
          .tools
            .tv_name
              %a{ :href => '#' } 生活大爆炸
            .likes
              %a{ :href => '#' } 喜欢 1213123
            .topics
              %a{ :href => '#' } 主题 1232

        .last_topic
          .user.clearfix
            .avatar
              %a{ :href => '#' }
                = image_tag 'sample.jpg', :size => '15x15'
            .topic
              %a{ :href => '#' } 浪漫主义者的悲歌——《阿拉伯的劳...
        




.right_container
  .tv_tags.clearfix
    %ul
      - 2.times do
        %li
          %a{ :href => '#' } 科幻
        %li
          %a{ :href => '#' } 小子的
        %li
          %a{ :href => '#' } 喜剧
        %li
          %a{ :href => '#' } 悬疑            
        %li
          %a{ :href => '#' } 丧尸
        %li
          %a{ :href => '#' } 惊悚
        %li
          %a{ :href => '#' } 西部            
        %li
          %a{ :href => '#' } 西部
        