- content_for :header_css do
  = stylesheet_link_tag 'user'

.user_profile
  .user_info.clearfix
    .avatar
      = image_tag 'sample_b.jpg'
    .info
      %p
        %span.user_name laohuang
      %p
        %span.topics
          主题数:
          %em 287
      %p
        %span.downloads
          下载资源: 
          %em 17
      %p
        %a.btn{ :href => '#' } 申请创建剧集组


  .user_resources
    .nav_tabs.clearfix
      .topics.tab.active
        %a{ :href => '#' } 帖子
      .downloads.tab
        %a{ :href => '#' } 下载资源
      .at_me.tab
        %a{ :href => '#' } @我的
      .notifies.tab
        %a{ :href => '#' } 消息  

    .resources_content
      .topic_panel
        - 8.times do
          .topic
            .above
              %a.from_drama{ :href => '#' } [生活大爆炸]
              %a.topic_name{ :href => '#' } 广大人民群众只需花33元便可观看著名影星保剑锋被砍头
            .below
              %span 发表于
              %span.created_at 2012-09-10 12:00:39
              %span 最后由
              %a.user_name{ :href => '#' } fresh_fish
              %span 在 10 分钟前回复            
      .download_panel
      .at_me_panel
      .notifies_panel




