- content_for :header_css do
  = stylesheet_link_tag 'user'

.settings_panel
  .nav_tabs.clearfix
    .topics.tab.active
      %a{ :href => '#' } 账号设置
    .downloads.tab
      %a{ :href => '#' } 上传头像
    .downloads.tab
      %a{ :href => '#' } 修改密码

  .settings_form_panel.common_form
    .edit_account
      .form_panel
        .blank_li.clearfix
          %span.lab 邮箱：
          %input.white_text
        .blank_li.clearfix
          %span.lab 昵称：
          %input.white_text
        .blank_li.clearfix
          %span.lab &nbsp;
          %a.submit_btn{ :href => '#' } 确定        