- content_for :header_css do
  = stylesheet_link_tag 'user'

.settings_panel
  = render 'tabs'

  .settings_form_panel.common_form
    .edit_account
      = form_tag password_setting_path do
        .form_panel
          .blank_li.clearfix
            %span.lab 原密码：
            %input.white_text{ :type => 'password', :name => 'orig_password' }
          .blank_li.clearfix
            %span.lab 新密码：
            %input.white_text{ :type => 'password', :name => 'password' }
          .blank_li.clearfix
            %span.lab 确认密码：
            %input.white_text{ :type => 'password', :name => 'password_confirmation' }          
          .blank_li.clearfix
            %span.lab &nbsp;
            %a.submit_btn{ :href => 'javascript:;' } 确定      