/ #error_page
/   %h1 404
/   %p 
/     没有找到这个页面啊，看看别的吧！

%iframe{ :scrolling => 'no', :frameborder => '0', :src => 'http://yibo.iyiyun.com/js/yibo404', :width => '735', :height => '700', :style => 'display:block;margin:0 auto;' }
