$white: #FFF;
$dark: #333333;
$green: green;
$red: #FF0000;
$grey: #CCC;
$light_grey: #999;
$text-color: #76838B;
$w_grey: #E8E7E3;

@mixin border($px: 1px, $side: top, $color: green) {
  border-#{$side}: #{$px} solid #{$color};
}

@mixin green-border($px, $side) {
  @include border($px, $side, green);
}

@mixin border-all($px, $color) {
  border: $px solid $color;
}

@mixin bg($color) {
  background: none repeat scroll 0 0 $color;
  // opacity: $opacity;
}

@mixin shadow {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);  
}


@mixin rectangle {
  @include bg($white);
  font-size: 12px;
  color: $text-color;
  @include shadow;  
}

@mixin rectangle_title {
  font-size: 14px;
  border-bottom: 1px solid $w_grey;
  padding: 10px 5px; 
  font-weight: bold;           
  @include bg(#F3F3F3);  
}



