$white: #FFF;
$dark: #333333;
$green: green;
$red: #FF0000;
$grey: #CCC;
$light_grey: #999;
$text-color: #76838B;

@mixin border($px: 1px, $side: top, $color: green) {
  border-#{$side}: #{$px} solid #{$color};
}

@mixin green-border($px, $side) {
  @include border($px, $side, green);
}

@mixin border-all($px, $color) {
  border: $px solid $color;
}

@mixin bg($color) {
  background: none repeat scroll 0 0 $color;
  // opacity: $opacity;
}

@mixin shadow {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);  
}

/* title bar */ 
.title_bar a.title { font-size: 14px; font-weight: bold; color: $green; }
.title_bar a { margin-right: 10px; font-size: 12px; color: $text-color;} 

/* bottom style */ 
.dotted_bottom { border-bottom: 1px dotted $text-color; padding-bottom: 5px; }
.dotted_top { border-top: 1px dotted $text-color; padding-top: 5px; }

/* Common UL LI Style */ 
.article_list {
  font-size: 12px;
  padding-top: 5px;
  line-height: 26px;
  ul li a {
    color: $text-color;
    &:hover {
      padding: 5px 5px;
      @include bg($green);
      color: $white;
      opacity: 0.5;
    }
  }  
}


