/*
*= require 'base'
*= require 'component'
*= require 'sprites/icons'
*= require 'lib/artdialog/skins/simple'
*= require 'lib/jquery.atwho'
*= require 'lib/tipsy'
*= require_self
*/
@import 'global';

@mixin li_nav {
  ul li {
    float: left;
    margin-left: 10px;
    a { font-size: 14px; padding: 5px 5px;  }
    a.active { background: none repeat scroll 0 0 green; }
    a.active.red { @include bg($red); }
  }  
}

html {
  width: 100%;
  height: 100%;
  background: #eee url('retro_bg.png') bottom left repeat;
}

body { background:none; }
a { text-decoration: none;  }
img { border: none; }

.navbar {
  width: 100%;
  background: none repeat scroll 0 0 #000;
  opacity: 0.5;
  @include green-border(4px, top);
  padding: 8px 0px;
  a { color: $white; font-size: 18px; }

  .site_logo {
    float: left;
    padding-top: 5px;
    padding-left: 26px;
    margin-left: 10px;
    background: url('tv_24.png') bottom left no-repeat;
    a { font-weight: bold; }
    a span b { color: $green; }
  }

  .menu {
    float: left;
    padding-top: 5px;
    margin-left: 40px;
    @include li_nav;
  }

  .search_panel {
    float: left;
    // padding-top: 10px;
    margin-left: 100px;
    input { height: 25px; border-radius: 5px 5px; }
  }

  .weibo_share_button {
    float: left;
    margin-left: 20px;
    padding-top: 3px;
  }

  .user_setting {
    float: right;
    padding-top: 5px;
    padding-right: 30px;
    @include li_nav;
    ul li {
      a { padding: 5px 5px; }
      a:hover { @include bg($green); }
    }    
    .authlogin {
      padding-top: -2px;
      a { font-size: 12px; }

      i.icon { margin-bottom: -3px; }
    }
  }
}

.footer {
  width: 90%;
  margin: 10px auto;
  border-top: 1px dotted $text-color;
  font-size: 12px;
  color: $green;
  padding: 5px 5px;
  line-height: 22px;
  a { color: $text-color; }
  .about_us { 
    float: left; 
    a { margin-right: 5px; }
    .copyright { color: $light_grey; }
  }
  .weibo_page { float: right; }
  .thanks { float: left; margin-right: 10px; a { height: 48px; display: block; } }

}

.main_container {
  // width: 90%;
  width: 1160px;
  // opacity: 0.8;
  margin: 10px auto;
  .flash_notice { width: 80%; margin: 10px auto; padding: 10px 10px; }
  .flash_notice.error {
    background-color: #F2DEDE;
    border: 1px solid #B94A48; 
    color: #B94A48;       
    p { font-size: 14px; font-weight: bold; padding-bottom: 5px; }
  }

  .flash_notice.success {
    background-color: #DFF0D8;
    border: 1px solid $green;   
    color: #468847;       
    p { font-size: 14px; font-weight: bold; padding-bottom: 5px; }
  }

  .flash_notice .messages ul { list-style: disc outside none; padding-left: 30px; }
  .flash_notice .messages ul li {
    font-size: 12px;
    line-height: 22px;
  }

  .blank_notice { width: 100%; text-align: center; color: $grey; padding: 30px; }
  .blank_notice a { color: $green; text-decoration: underline; }
  .notice_ment { width: 100%; text-align: center; color: #FF0000; padding: 5px; opacity: 0.5; }
  .notice_ment a { text-decoration: underline; }

  // really bad to place a tv_drama css class here.
  .new_drama_panel {
    width: 70%;
    margin: 0 auto;    
  }

  #error_page {
    text-align: center;
    color: $green;
    height: 500px;
    margin-top: 20px;
    h1 { font-size: 200px; }
    p { margin-top: 20px; color: $text-color; }
  }
}

.feedback_btn {
  width: 16px;
  /*height: 60px;*/
  background-color: $green;
  text-align: center;
  padding: 5px 5px;
  border-radius: 0 5px 5px 0px;
  box-shadow: 5px 5px 5px #666666;
  position: fixed;
  color: #FFF;
  left: 0px;
  top: 300px;
  font-size: 12px;
  cursor: pointer;
}

.popup {
  font-size: 14px;
  color: $text-color;
  a { color: $green; text-decoration: underline; margin: 0px 5px;}
  .btns { 
    margin-top: 5px;
    a.submit_btn { color: #FFF; text-decoration: none; float: right; } 
  }
  .remarks { margin-top: 10px; }
  .remarks textarea {
    width: 340px;
    height: 50px;
    border: 1px solid $grey;
  }
}  
