@import 'global';

/* rectangle_panel */
.rectangle_panel {
  @include rectangle;
  .panel_name { 
    @include rectangle_title; 
    a { color: $green; }
    span.origin {
      float: left;
      display: inline-block;
    } 
    .opts {
      float: right;
      font-size: 12px;
      a { margin-right: 5px; }
    }
  }
} 

/* common form style */
.common_form {
  @include common_form; 
}

/* margins */
.ml10 { margin-left: 10px; }
.mr10 { margin-right: 10px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }   

/* title bar */ 
.title_bar a.title { font-size: 14px; font-weight: bold; color: $green; }
.title_bar a { margin-right: 10px; font-size: 12px; color: $text-color;} 

/* bottom style */ 
.dotted_bottom { border-bottom: 1px dotted $text-color; padding-bottom: 5px; }
.dotted_top { border-top: 1px dotted $text-color; padding-top: 5px; }

/* Common UL LI Style */ 
.article_list {
  font-size: 12px;
  padding-top: 5px;
  line-height: 26px;
  ul li a {
    color: $text-color;
    &:hover {
      padding: 5px 5px;
      @include bg($green);
      color: $white;
      opacity: 0.5;
    }

    span { text-decoration: underline; }
  }  
}

/* textarea, input editor */
textarea.editor {
  border: 1px solid $grey;
  vertical-align: top;
  font-size: 12px;
  color: $text-color;
}

input.long_text {
  border: 1px solid $grey;
  width: 470px;
  height: 30px;
  font-size: 12px;
  color: $text-color;
}

input.white_text {
  border: 1px solid $green;
  width: 300px;
  height: 36px;
  font-size: 14px;
  color: $text-color;
  @include shadow;
}

input.white_text.small {
  width: 240px;
  height: 30px;
  font-size: 12px;
  border: 1px solid $grey;
}

/* buttons */
a.submit_btn, a.btn {
  @include bg($green);
  color: $white;
  padding: 10px 20px;
  display: inline-block;
  @include shadow;
} 

/* tab group */
.nav_tabs { 
  font-size: 12px;
  a { color: $text-color; }
  .tab { 
    padding: 10px 10px;
    float: left; margin-right: 10px; 
    @include bg(#F3F3F3);
  }

  .tab.active { @include bg(#FFF); a { color: $green; font-weight: bold; } }
} 

// Pagination
.pagination_panel {
  clear: both;
}

.digg_pagination {
  cursor: default;
  /* self-clearing method: */ 
  text-align: center;

}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 5px; 
  height: 15px;
}

.digg_pagination .disabled {
  color: $text-color;
  border: 1px solid $grey; 
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #468847;
  color: $white;
  border: 1px solid $green;
}

.digg_pagination a {
  text-decoration: none;
  color: #468847;
  border: 1px solid #468847;
}

.digg_pagination a:hover, .digg_pagination a:focus {
  color: $green;
  border: 1px solid $green;
}

.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; 
}

.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; 
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}

* html .digg_pagination {
  height: 1%; 
}

*:first-child + html .digg_pagination {
  overflow: hidden; 
}