@import 'global';

.left_container {
  float: left;
  width: 75%;
  padding-top: 5px;
  .tv_list {
    .tv { 
      float: left;
      // width: 250px;
      width: 29%;
      margin: 0px 34px 30px 0px;
      @include shadow;
      @include bg(#FFF);
      .above {
        padding: 10px 0px 10px 10px;
        font-size: 12px;

        a { color: $text-color; }
        .cover { float: left; width: 100px; height: 150px; }
        .tools {
          float: left;
          line-height: 24px;
          margin-left: 10px;
          .tv_name a { 
            padding: 5px 5px; font-size: 12px;  
            @include bg($green); color: $white; opacity: 0.6; 
          }
          a em { color: $green; font-weight: bold; padding-left: 5px; }
        }
      }

      .last_topic {
        border-top: 1px solid $w_grey;      
        @include bg(#F3F3F3);
        font-size: 12px;
        height: 20px;
        padding: 5px 5px;
        .user {

          a { color: $text-color; }
          .avatar { float: left; }
          .topic { float: left; margin-left: 3px; }
        }

        .none_topic {
          color: $text-color;
        }

      }
    
    }

  }
}

.right_container {
  float: right;
  width: 25%;

  .years, .tv_cates {
    width: 100%;
    ul li {
      float: left;
      margin: 5px 8px 5px 0px;
      background: none repeat scroll 0 0 $light_grey;
      font-size: 14px;
      padding: 5px 6px;
      a { color: $white; }
      &:hover { background: none repeat scroll 0 0 $green; }
    }

    ul li.active {
      @include bg($green);
    }

  }

  .years { padding-top: 5px; .title_bar { margin-bottom: 5px; } }

  .tv_topics {}

  .newest_tv {
    font-size: 12px;
    padding-top: 5px;
    line-height: 26px;
    ul li a {
      color: $text-color;
      span.time { color: $green; margin-right: 10px; }
      span.version { color: $white; @include bg($green); opacity: 0.5; padding: 2px 1px; }
    }
  }
}
 