@import 'global';

@mixin rectangle {
  @include bg($white);
  font-size: 12px;
  color: $text-color;
  @include shadow;  
}

@mixin rectangle_title {
  font-size: 14px;
  border-bottom: 1px solid #E8E7E3;
  padding: 10px 5px; 
  font-weight: bold;           
  @include bg(#F3F3F3);  
}

.tv_left_container {
  float: left;
  width: 75%;  
  .above {
    @include rectangle;
    .tv_name { @include rectangle_title; }

    .intro {
      padding: 10px 10px;
      .cover { float: left; img { border: 4px solid $green; } width: 18%; }
      .summary { 
        float: left; 
        width: 80%;
        // margin-left: 10px;
        line-height: 30px;
        span.title { font-weight: bold; margin-right: 5px; color: $dark; }
        .desc { line-height: 22px; color: $light_grey; }
        .fancy { 
          float: right; 
          a { color: $text-color; text-decoration: underline; }
          a:hover { color: $green; }
        }
      }
    }
  }

  .story {
    @include rectangle;
    margin-top: 20px;
    .title { @include rectangle_title; }
    .content { line-height: 22px; color: $text-color; padding: 10px 10px; }
  }

}

.tv_right_container {
  float: right;
  width: 25%;
}