@import 'global';

.tv_left_container {
  float: left;
  width: 72%;  
  .above {

    .intro {
      padding: 10px 10px;
      .cover { 
        float: left; width: 18%; 
        img { border: 4px solid $green; } 
      }
      .summary { 
        float: left; 
        width: 80%;
        line-height: 30px;
        margin-left: 10px;
        span.title { font-weight: bold; margin-right: 5px; color: $dark; }
        .desc { line-height: 22px; color: $light_grey; }
        .fancy { 
          float: right; 
          a { color: $text-color; text-decoration: underline; }
          a:hover { color: $green; }
        }
      }
    }
  }

 .edit_drama_panel {

 }

  .story {
    margin-top: 20px;
    .content { line-height: 24px; color: $text-color; padding: 10px 10px;  text-indent: 2em; }
  }

  .tv_relateds {
    font-size: 12px;
    margin-top: 20px;

    a { color: $text-color; }

    .resource_content {
      @include bg($white);
      @include shadow;
      min-height: 300px;
      padding: 20px 10px 10px 10px;
      a.user_name { text-decoration: underline; font-weight: bold; }
      a.topic_title_name:hover { text-decoration: underline; }

      // topic list
      .topics_panel {
        .topic {
          border-bottom: 1px solid $w_grey;
          padding: 10px 10px;
          .left_side { float: left; }
          .left_side .avatar { float: left; }
          .left_side .topic_summary { float: left; margin-left: 10px; line-height: 24px;}
          .left_side .topic_summary .topic_title { font-size: 14px; }
          .left_side .topic_info { color: $light_grey; }          
          .right_side { float: right; margin-right: 80px; padding-top: 10px; }
          .right_side a.topic_relpy { @include bg($green); padding: 5px 5px; font-size: 14px; color: $white; opacity: 0.6; }
        }

      }

      // download panel
      .downloads_panel {
        display: none;
        .res_summary {
          border-bottom: 1px solid $w_grey;
          padding: 14px 10px;          
        }
        .res_summary span { color: $green; margin-right: 10px; padding: 5px 5px; }
        .res_summary span.season { @include bg($green); color: $white; }

      }

      .related_dramas_panel {
        display: none;
        padding: 10px 10px;
        ul li { float: left; text-align: center; margin-bottom: 30px; margin-right: 20px; }
        ul li a { color: $green; }
        ul li .cover { height: 140px; overflow: hidden; width: 130px;}
        ul li .tv_name { margin-top: 5px; }
      }

    }

  }

}

.tv_right_container {
  float: right;
  width: 25%;
  padding-left: 0px;
  color: $text-color;
  .new_topic { text-align: center; }
  .comming_soon {
    font-size: 12px;
    line-height: 30px;

    ul li {
      color: $text-color;
      span { margin-right: 20px; }
      span.version { color: $white; @include bg($green); opacity: 0.5; padding: 2px 1px; }
    }
  }
}