- unless flash[:error].blank?
  - errors = Array flash[:error]
  .alert.alert-error
    %button.close{ :"data-dismiss" => "alert", :type => "button" } x
    %p
      = "以下 #{errors.size} 处错误导致不能提交："
    .messages
      %ul
        - errors.each do |err|
          %li= err

- unless flash[:success].blank?
  - notices = Array flash[:success]
  .alert.alert-success
    %button.close{ :"data-dismiss" => "alert", :type => "button" } x
    .messages
      %ul
        - notices.each do |n|
          %li= n
